:root {
    --MainBackground: rgba(240, 240, 240, 1);
    --SecondaryBackground: rgba(40, 41, 46, 1);
    --MainTextColor: rgba(54, 57, 63, 1);
    --SecondaryTextColor: rgba(0, 139, 139, 1);
    /*--SecondaryTextColor: rgba(255, 238, 16, 1);*/

    --HeaderTextColor: var(--MainBackground);

    @media only screen and (hover: none) and (pointer: coarse) {
        --HeaderHeight: 180px;
        --HeaderGradientHeight: 40px;

        --FirstHeaderSize: 56px;
        --SecondHeaderSize: 44px;
        --ThirdHeaderSize: 32px;
        --MainTextSize: 28px;

        --BorderRadius: 40px;
        --LineHeight: 40px;
        --IconSize: 100px;

        --HorizontalBoxMargin: 60px; /*6%;*/
        --VerticalBoxMargin: 60px; /*6%;*/

        --AnimationDuration: 0.25s;
        
        --IsMobile: 1;
    };

    @media (hover: hover) {
        --HeaderHeight: 80px;
        --HeaderGradientHeight: 25px;

        --FirstHeaderSize: 40px;
        --SecondHeaderSize: 30px;
        --ThirdHeaderSize: 24px;
        --MainTextSize: 20px;

        --BorderRadius: 30px;
        --LineHeight: 30px;
        --IconSize: 40px;

        --HorizontalBoxMargin: 60px; /*6%;*/
        --VerticalBoxMargin: 20px; /*2%;*/

        --AnimationDuration: 0.5s;

        --IsMobile: 0;
    };

    --MobileTopSpace: calc(var(--HeaderHeight) * 0.5 - var(--IconSize) * 0.5);
    

    --NormalSpace: 20px;

}