:root {
    /*--MainBackground: rgba(240, 240, 240, 1);
    --SecondaryBackground: rgba(40, 41, 46, 1);
    --MainTextColor: rgba(54, 57, 63, 1);
    --SecondaryTextColor: rgba(0, 139, 139, 1);
    --SecondaryTextColor: rgba(255, 238, 16, 1);*/

    --BackgroundWhite: rgba(240, 240, 240, 1);
    --TextWhite: rgba(240, 240, 240, 1);
    --BackgroundLightGrey: rgba(54, 57, 63, 1);
    --TextLightGrey: rgba(54, 57, 63, 1);
    --BackgroundDarkGrey: rgba(40, 41, 46, 1);
    --TextDarkGrey: rgba(40, 41, 46, 1);
    --MainThemeColor: rgba(0, 139, 139, 1);

    /* Mobile */
    @media only screen and (hover: none) and (pointer: coarse) {
        --HeaderHeight: 180px;
        --HeaderGradientHeight: 40px;

        --FirstHeaderSize: 70px;
        --SecondHeaderSize: 44px;
        --ThirdHeaderSize: 28px;
        --MainTextSize: 12px;

        --BorderRadius: 40px;
        --LineHeight: 14px;
        --IconSize: 100px;

        --HorizontalBoxMargin: 60px; /*6%;*/
        --VerticalBoxMargin: 60px; /*6%;*/

        --AnimationDuration: 0.25s;
        
        --IsMobile: 1;
    };

    /* Desktop */
    @media (hover: hover) {
        --HeaderHeight: 80px;
        --HeaderGradientHeight: 25px;

        --FirstHeaderSize: 40px;
        --SecondHeaderSize: 30px;
        --ThirdHeaderSize: 20px;
        --MainTextSize: 18px;

        --BorderRadius: 30px;
        --LineHeight: 30px;
        --IconSize: 40px;

        --HorizontalBoxMargin: 60px; /*6%;*/
        --VerticalBoxMargin: 20px; /*2%;*/

        --AnimationDuration: 0.5s;

        --IsMobile: 0;
    };

    --MobileTopSpace: calc(var(--HeaderHeight) * 0.5 - var(--IconSize) * 0.5);
    

    --NormalSpace: 20px;

}