@import "./../Resources/Theme.css";
@import "./Animations.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: Georgia, serif;
}


* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

svg {
    transition-duration: var(--AnimationDuration);
}

.SocialMediaSVG {
    fill: var(--BackgroundDarkGrey);
}

.IconOutline {
    stroke: var(--BackgroundDarkGrey);
}

.SectionSelection {
    box-sizing: border-box;
    padding: 7%;
    box-shadow: 0 0 15px var(--TextLightGrey);
    border-radius: var(--BorderRadius);
    border: solid 2px var(--TextLightGrey);
    display: inline-block;
    transition-duration: calc(var(--AnimationDuration) * 0.4);
    background: var(--BackgroundLightGrey);
}

.SectionSelection:hover {
    cursor: pointer;
}

.SectionTitle {
    margin-top: 20px;
    text-align: center;
    font-size: var(--ThirdHeaderSize);
    color: var(--TextWhite);
    transition-duration: var(--AnimationDuration);
}

.SectionSVG {
    fill: var(--BackgroundWhite);
}


.SectionDetail {
    display: inline-block;
    transition-duration: var(--AnimationDuration);
    overflow: hidden;
    height: 200px;
    border-radius: var(--BorderRadius);
    box-sizing: border-box;
}

#SectionDetails {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;

}

#SectionsDots {
    display: flex;
    justify-content: center;

}
.SectionDot {
    border-radius: 50%;
    background: var(--BackgroundWhite);
    width: 26px;
    height: 26px;
    display: inline-block;
    margin: 20px;
    transition-duration: var(--AnimationDuration);
}



::-webkit-scrollbar {
    display: none;
}



#TranslatedSVG{
    transform: translateY(11.175px);
}

#Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--HeaderHeight);
    background-color: var(--BackgroundDarkGrey);
    color: var(--TextLightGrey);
}

#HeaderGradient{
    display: block;
    width: 100%;
    height: var(--HeaderGradientHeight);
    background-image: linear-gradient(var(--BackgroundDarkGrey), var(--BackgroundLightGrey));
}

  
#MainContainer {
    display: block;
    width: 100%;
    min-height: 100%;
    background-color: var(--BackgroundLightGrey);
}

#H1{
    font-size: var(--FirstHeaderSize);
    margin: var(--NormalSpace);
    overflow: hidden;
    transition-duration: var(--AnimationDuration);
    color: var(--TextWhite);
}

#SocialMediaIconsList {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#SocialMediaIconsList li {
    list-style: none;
    margin: 0 15px;
}

#SocialMediaIconsList li a svg {
    width: 60%;
    height: 60%;
    top: 20%;
    position: relative;
    fill: var(--BackgroundLightGrey);
    transition: transform ease var(--AnimationDuration);
    animation-iteration-count: 1;
}

#SocialMediaIconsList li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--MainThemeColor);
    transition: var(--AnimationDuration);
    transform: scale(.9);
    z-index: -1;
}

#SocialMediaIconsList li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--MainThemeColor);
}


#SocialMediaIconsList li a:hover {
    color: var(--MainThemeColor);
    box-shadow: 0 0 5px var(--MainThemeColor);
    text-shadow: 0 0 5px var(--MainThemeColor);
    background: var(--BackgroundWhite);
}

#SocialMediaIconsList li a {
    position: relative; 
    display: block;
    text-align: center;
    background: var(--BackgroundWhite);
    border-radius: 50%;
    width: var(--IconSize);
    height: var(--IconSize);

    color: var(--TextLightGrey);
    transition: var(--AnimationDuration);
}

#BodyContainer{
    width: 100%;
}

#SecondBodyContainer {
    margin-left: var(--HorizontalBoxMargin);
    margin-right: var(--HorizontalBoxMargin);

    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
}


#ProfileDescription {
    color: var(--TextWhite);
    background-color: var(--BackgroundLightGrey);
    font-size: var(--MainTextSize);
    line-height: var(--LineHeight);
    border: solid 2px var(--TextWhite);
    padding: 0% 2%;
    border-radius: var(--BorderRadius);
    box-shadow: 0 0 10px var(--TextWhite);

    margin-top: var(--VerticalBoxMargin);
    margin-left: var(--HorizontalBoxMargin);
    margin-right: var(--HorizontalBoxMargin);
    
    position: relative;
    z-index: 1;
}

#ProfileDescriptionSubContainer {
    color: transparent;
    background-color: var(--MainThemeColor);
    font-size: var(--MainTextSize);
    line-height: var(--LineHeight);
    border: solid 2px var(--MainThemeColor);
    padding: 0% 2%;
    border-radius: var(--BorderRadius);

    margin-top: var(--VerticalBoxMargin);
    margin-left: var(--HorizontalBoxMargin);
    margin-right: var(--HorizontalBoxMargin);

    -webkit-transform: translate(6px, calc(-100% - var(--VerticalBoxMargin) + 6px)); 
    transform: translate(6px ,calc(-100% - var(--VerticalBoxMargin) + 6px));

    box-shadow: 0 0 10px var(--MainThemeColor);

    transition-duration: var(--AnimationDuration);

    animation: MovementAnimation 2s ease-in-out infinite;

    position: relative;
    z-index: 0;
}

#ProfileDescriptionSubContainer:hover {
    -webkit-transform: translate(12px, calc(-100% - var(--VerticalBoxMargin) + 12px)); 
    transform: translate(12px ,calc(-100% - var(--VerticalBoxMargin) + 12px));
}
