@import "./../Resources/Theme.css";
@import "./Animations.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: Georgia, serif;
}


a {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

svg {
    transition-duration: var(--AnimationDuration);
}


.SocialMediaSVG {
    fill: var(--SecondaryBackground);
}

.IconOutline {
    stroke: var(--SecondaryBackground);
}

.SectionSelection {
    box-sizing: border-box;
    padding: 7%;
    box-shadow: 0 0 15px var(--MainTextColor);
    border-radius: var(--BorderRadius);
    border: solid 2px var(--MainTextColor);
    display: inline-block;
    transition-duration: calc(var(--AnimationDuration) * 0.4);
}

.SectionSelection:hover {
    cursor: pointer;
}

.SectionTitle {
    margin-top: 20px;
    text-align: center;
    font-size: var(--ThirdHeaderSize);
    color: var(--MainTextColor);
}

.SectionSVG {
    fill: var(--MainTextColor);
}





#TranslatedSVG{
    transform: translateY(11.175px);
}

#Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--HeaderHeight);
    background-color: var(--SecondaryBackground);
    color: var(--MainTextColor);
}

#HeaderGradient{
    display: block;
    width: 100%;
    height: var(--HeaderGradientHeight);
    background-image: linear-gradient(var(--SecondaryBackground), var(--MainBackground));
}

  
#MainContainer {
    display: block;
    width: 100%;
    min-height: 100%;
    background-color: var(--MainBackground);
}

#H1{
    font-size: var(--FirstHeaderSize);
    margin: var(--NormalSpace);
    overflow: hidden;
    transition-duration: var(--AnimationDuration);
    color: var(--HeaderTextColor);
}

#SocialMediaIconsList {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#SocialMediaIconsList li {
    list-style: none;
    margin: 0 15px;
}

#SocialMediaIconsList li a svg {
    width: 60%;
    height: 60%;
    top: 20%;
    position: relative;
    fill: var(--SecondaryBackground);
    transition: transform ease var(--AnimationDuration);
    animation-iteration-count: 1;
}

#SocialMediaIconsList li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--SecondaryTextColor);
    transition: var(--AnimationDuration);
    transform: scale(.9);
    z-index: -1;
}

#SocialMediaIconsList li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--SecondaryTextColor);
}


#SocialMediaIconsList li a:hover {
    color: var(--SecondaryTextColor);
    box-shadow: 0 0 5px var(--SecondaryTextColor);
    text-shadow: 0 0 5px var(--SecondaryTextColor);
    background: var(--MainBackground);
}

#SocialMediaIconsList li a {
    position: relative; 
    display: block;
    text-align: center;
    background: var(--MainBackground);
    border-radius: 50%;
    width: var(--IconSize);
    height: var(--IconSize);

    color: var(--MainTextColor);
    transition: var(--AnimationDuration);
}

#BodyContainer{
    width: 100%;
}

#SecondBodyContainer {
    margin-top: var(--VerticalBoxMargin);
    margin-left: var(--HorizontalBoxMargin);
    margin-right: var(--HorizontalBoxMargin);

    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
}


#ProfileDescription {
    color: var(--MainTextColor);
    background-color: var(--MainBackground);
    font-size: var(--MainTextSize);
    line-height: var(--LineHeight);
    border: solid 2px var(--MainTextColor);
    padding: 0% 2%;
    border-radius: var(--BorderRadius);
    box-shadow: 0 0 10px var(--MainTextColor);

    margin-top: var(--VerticalBoxMargin);
    margin-left: var(--HorizontalBoxMargin);
    margin-right: var(--HorizontalBoxMargin);
    
    position: relative;
    z-index: 1;
}

#ProfileDescriptionSubContainer {
    color: transparent;
    background-color: var(--SecondaryTextColor);
    font-size: var(--MainTextSize);
    line-height: var(--LineHeight);
    border: solid 2px var(--SecondaryTextColor);
    padding: 0% 2%;
    border-radius: var(--BorderRadius);

    margin-top: var(--VerticalBoxMargin);
    margin-left: var(--HorizontalBoxMargin);
    margin-right: var(--HorizontalBoxMargin);

    -webkit-transform: translate(6px, calc(-100% - var(--VerticalBoxMargin) + 6px)); 
    transform: translate(6px ,calc(-100% - var(--VerticalBoxMargin) + 6px));

    box-shadow: 0 0 10px var(--SecondaryTextColor);

    transition-duration: var(--AnimationDuration);

    animation: MovementAnimation 2s ease-in-out infinite;

    position: relative;
    z-index: 0;
}

#ProfileDescriptionSubContainer:hover {
    -webkit-transform: translate(12px, calc(-100% - var(--VerticalBoxMargin) + 12px)); 
    transform: translate(12px ,calc(-100% - var(--VerticalBoxMargin) + 12px));
}
