@import "./../Resources/Theme.css";

@media (hover: hover) {
  .SectionSelection {
    width: 30%;
  }

  .SectionTitle {
    max-width: 100%;
  }




  #MoreSeparator {
    display: none;
  }

  #SocialMediaIconsList {
    top: 50%;
  }

  #SocialMediaButtonsToggle {
    display: none;
  }

  #SecondBodyContainer {
    margin-top: calc( 3 * var(--VerticalBoxMargin));
  }

}

  





