@import "./../Resources/Theme.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#MainContainer{
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--MainBackground);
}

#Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: var(--SecondaryBackground);
    color: var(--MainTextColor);
}

#HeaderGradient{
    display: block;
    width: 100%;
    height: 25px;
    background-image: linear-gradient(var(--SecondaryBackground), var(--MainBackground));
}

#H1{
    font-size: var(--FirstHeaderSize);
    margin: var(--NormalSpace);
}



/*---------- Social Media Buttons ----------*/

#SocialMediaIconsList {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  
  #SocialMediaIconsList li {
    list-style: none;
    margin: 0 15px;
  }
  
  #SocialMediaIconsList li a {
    position: relative; 
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    /*line-height: 63px;*/
    background: var(--MainBackground);
    border-radius: 50%;
    font-size: 30px;
    color: var(--MainTextColor);
    transition: .5s;
  }


  #SocialMediaIconsList li a svg {
    width: 60%;
    height: 60%;
    top: 10%;
    position: relative;
    fill: var(--SecondaryBackground);
    transition: transform ease var(--AnimationDuration);
    animation-iteration-count: 1;
  }

  
  #SocialMediaIconsList li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--SecondaryTextColor);
    transition: var(--AnimationDuration);
    transform: scale(.9);
    z-index: -1;
  }
  
  #SocialMediaIconsList li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--SecondaryTextColor);
  }
  
  #SocialMediaIconsList li a:hover {
    color: var(--SecondaryTextColor);
    box-shadow: 0 0 5px var(--SecondaryTextColor);
    text-shadow: 0 0 5px var(--SecondaryTextColor);
  }


@keyframes GlowInAnimation {
  0% {
    filter: none;
    fill: var(--SecondaryBackground);
  }

  100% {
    filter: drop-shadow(0px 0px 3px var(--SecondaryTextColor));
    fill: var(--SecondaryTextColor);
  }
}

@keyframes GlowOutAnimation {
  0% {
    filter: drop-shadow(0px 0px 3px var(--SecondaryTextColor));
    fill: var(--SecondaryTextColor);
  }

  100% {
    filter: none;
    fill: var(--SecondaryBackground);
  }
}